@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,600;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@400;700&display=swap");
:root {
  --text: #fef1e0;
  --text2: #684416;
  --france: #12122b;
  --enfasis: #6879c0;
  --pastel: #99c9ff;
  --fire: #780012;
}
* {
  font-family: "poppins";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.card div,
.card1 div,
.card2 div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 1s;
}
.card .front,
.card1 .front1,
.card2 .front2 {
  background-color: transparent;
  transform: perspective(500px) rotateY(0deg);
}
.card .back,
.card1 .back1,
.card2 .back2 {
  background-color: #ffffff;
  transform: perspective(500px) rotateY(180deg);
  border-radius: 20px;
}
.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(500px) rotateY(360deg);
 
}
.card1:hover .front1 {
  transform: perspective(500px) rotateY(180deg);
}
.card1:hover .back1 {
  transform: perspective(500px) rotateY(360deg);

}
.card2:hover .front2 {
  transform: perspective(500px) rotateY(180deg);
}
.card2:hover .back2 {
  transform: perspective(500px) rotateY(360deg);
 
}
.boton-nav {
  position: relative;
  padding: 0;
}
.nav-bar .nav-list li a::after {
  content: "";
  height: 2px;
  width: 80%;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #fd8da0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #fd879b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}
.nav-list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
  background-color: #fd3053;
}
.btn-select2::after,
.btn-select::after {
  transition: all 0.2s ease-out;
}
.btn-select2:hover,
.btn-select:hover {
 background: transparent;
 border: dotted 2px var(--text);
  transition: all 0.1s ease-in-out;
  color: var(--text);
  border-radius: 10px;
}
.menu li a {
  transition: all 0.3s ease-out;
}
.menu li a:hover {
  background-color: var(--france);
  transition: all 0.3s ease-in;
  color: var(--text);
  border-radius: 10px;
}
.bus{
  animation: translateX 5s infinite;
  animation-direction: alternate;
}
.contactos >a::after{
  transition: all 0.2s ease-out;
}
.contactos >a:hover{
  color: var(--fire);
  transition: all 0.2s ease-out;
  font-size: 17px;
}
@keyframes translateX{
  0%{
    transform: translateX(100px);
  }
  100%{
    transform: translate(500px);
  }
}
