@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,600;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@400;700&display=swap");
:root {
  /* TEXTO */
  --text: #fef1e0;
  /* LINEA */
  --france: #12122b;
  --fire: #780012;
  /* ENFASIS */
}
* {
  font-family: "poppins";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* CONTENEDOR */
.container {
  max-width: 1200px;
  margin: auto;
}
/* HEADER */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(4.5px);
}
/* NAVBAR */
.nav-bar,
.nav-list {
  display: flex;
  align-items: center;
}
.nav-bar {
  padding: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.nav-list {
  gap: 60px;
  width: 50%;
}
/* BOTON NAVBAR */
.boton-nav {
  color: var(--text);
  font-size: 17px;
  font-family: "montserrat";
  font-weight: 500;
  padding: 4px 16px;
  border-radius: 50px;
}
/* LOGO NABVBAR */
.logo {
  border-radius: 40px;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  width: 10%;
}
.logo-nav {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MENU HAMBURGUESA */
.menu-burger {
  display: none;
}
#toggle-menu {
  display: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
/* HERO */
#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/imagenes/pipol.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: rgb(245, 250, 255) 0px 20px 30px -10px;
  border: solid 1px var(--france);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 80px;
}
/* TITULO HERO */
.titulo-sub {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 55px;
  color: var(--text);
}
/* SUB-TITULO HERO */
.titulo-sub h1 {
  font-size: 90px;
  font-family: "poppin";
  font-weight: 600px;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: -6px 1px 6px #240b36;
}
.titulo-sub span {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "kanit";
  font-weight: 600;
  text-shadow: -6px 1px 1px #ffffff;
}
/* INFO HERO */
.titulo-sub p {
  color: var(--text);
  font-family: "montserrat";
  font-size: 28px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1.5;
}

/* BOTON HERO */
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.btn-select {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 1px;
  width: 150px;
  height: 65px;
  background-color: var(--fire);
  border: solid 1px var(--france);
  color: var(--text);
  padding: 3px 18px;
  border-radius: 10px;
  font-size: 25px;
}

/* INFORMACION SOBRE EL INSTITUTO */
#about {
  padding: 70px 0px;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 44px;
  background: c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #240b36,
    #fa002a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ca0000,
    #630000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* CONTENEDOR INFO */
.sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding-top: 40px;
}

/* SUB-TITULO INFORMACION */
.sobre h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  line-height: 50px;
  font-weight: 700;
  font-size: 60px;
  padding-top: 60px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}
/* CARDS */
.card-padre {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 100px;
}
.card,
.card1,
.card2 {
  position: relative;
  width: 250px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: solid 2px var(--text);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* IMAGEN FRONTAL DE CARD GIRATORIA */
.img-front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* CARDS BACK */
.back,
.back1,
.back2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}
/* INFORMACION SOBRE CARD TRASERA */
.titulo-card {
  font-size: 16px;
  font-family: "montserrat";
}
.sub-card {
  font-size: 14px;
  font-family: "poppins";
}
.back-img {
  width: 40px;
  height: 50px;
}

.sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
}
/* INFORMACION SOBRE NOSOTROS */
.sobre-nosotros p {
  font-size: 20px;
  text-align: center;
  color: var(--text);
  border-bottom: solid 1px white;
  padding-bottom: 50px;
  border-radius: 20px;
}

/* CURSOS */
#cursos {
  width: 100%;
  margin: auto;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8a0000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #310111f3,
    #630000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 2;
}
/* SUBTITULOS COMO TRABAJAMOS & CUROSOS */
.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  line-height: 50px;
  font-weight: 700;
  font-size: 60px;
  padding-top: 60px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  margin-bottom: 59px;
}
/* CONTENEDOR PADRE CURSOS */
.cursos-padre {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

/* CARD CURSOS INDIVIDUALES */
.cursos {
  width: 540px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-left: solid 4px #7c7c7c63;
}
/* TITULO+IMAGENES CARD */
.titulo-img {
  display: flex;
  width: 50%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  border-radius: 20px 0px 0px 20px;
}
/* TITULO DE CARDS */
.titulo-img > h4 {
  font-size: 22px;
  color: var(--text);
  font-family: "montserrat";
  padding: 4px 4px;
}
/* INFORMACION DE CARDS */
.info-inscribirse {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  padding: 12px 6px;
  border-radius: 0px 20px 20px 0px;
  background-color: transparent;
}
.info-inscribirse > p {
  font-size: 18px;
  color: var(--text);
  font-family: "montserrat";
  text-align: left;
}
.info-inscribirse > a {
  background: #ffffff;
  padding: 3px 7px;
  font-size: 21px;
  color: var(--france);
  font-family: "kanit";
  font-weight: 600;
  border-radius: 3px;
}
.img-curso {
  width: 200px;
  height: 170px;
  border-radius: 7px;
}
.info-inscribirse {
  width: 70%;
  text-align: center;
}
/* BUS */
.buss {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 1;
  bottom: 6vh;
}
.bus {
  width: 300px;
  height: 200px;
}
/* BIG BEN BACK */
.img-bg {
  position: absolute;
  left: 3vh;
  bottom: -258vh;
  left: 0;
  opacity: 0.9;
  filter: drop-shadow(rgba(26, 26, 26, 0.781) 50px 1px 12px);
  z-index: 1;
}
.big-ben {
  width: 380px;
  height: 400px;
}

/* CONTACTOS */
#contactos {
  margin: auto;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 12vh;
  background-color: var(--fire);
  border: solid 1px var(--france);
  border-radius: 30px;
  background-color: #310111f3;
}
.contenedor-contactos {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.contactos,
.contactos > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  color: var(--text);
  padding: 7px 9px;
  border-radius: 9px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > span {
  background-color: var(--text);
  padding: 0px 20px;
  color: var(--fire);
}
.cambridge {
  flex-direction: column;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  height: 20%;
  gap: 5px;
  border-bottom: 1px solid wheat;
}
.img-cam {
  width: 40px;
  height: 35px;
}
.cambridge p {
  font-size: 15px;
  color: white;
}
.cambridge span {
  font-size: 13px;
  color: white;
}
